Source: ros-kinetic-zeroconf-avahi-demos
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-zeroconf-avahi
Homepage: http://wiki.ros.org/zeroconf_avahi_demos
Standards-Version: 3.9.2

Package: ros-kinetic-zeroconf-avahi-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-daemon, ros-kinetic-zeroconf-avahi
Description: Several demos and launch-tests for the avahi based zero-configuration.
